<h4>ショッピングカート</h4>
<%= link_to "カートを空にする",cart_items_destroy_all_path, method: :delete %>
<table>
  <th>商品名</th>
  <th>単価(税込)</th>
  <th>小計</th>
</table>
<tbody>
  <% @cart_items.each do |cart_item| %>
  <tr>
    <td><%= (cart_item.item.with_tax_price %></td>
    <td><%= cart_item.subtotal %></td>
    <% @cart_item_total_price += cart_item.subtotal %>
  </tr>
  <% end %>
</tbody>