<ul style="list-style: none;">
  <li>
    <%= link_to admin_items_path do %>
      <button type="button" class="btn btn-light">商品一覧</button>
    <% end %>
  </li>
  <li>
    <%= link_to admin_customers do %>
      <button type="button" class="btn btn-light">会員一覧</button>
    <% end %>
  <li>
    <!-- アドミン側の注文履歴一覧のルートパスはどれ？-->
    <%# link_to パス記入 do %>
      <!--<button type="button" class="btn btn-light">注文履歴一覧</button>-->
    <%# end %>
  </li>
  <li>
    <%= link_to admin_genres_path do %>
      <button type="button" class="btn btn-light">ジャンル一覧</button>
    <% end %>
  </li>
  <li>
  <%= link_to destroy_admin_session_path, method: :delete do %>
    <button type="button" class="btn btn-light">ログアウト</button>
  <% end %>
  </li>
</ul>