<ul style="list-style: none;">
  <li>
    <%= link_to about_path do %>
      <button type="button" class="btn btn-light">About</button>
    <% end %>
  </li>
  <li>
    <%= link_to items_path do %>
      <button type="button" class="btn btn-light">商品一覧</button>
    <% end %>
  </li>
  <li>
    <%= link_to new_customer_registration_path do %>
      <button type="button" class="btn btn-light">新規登録</button>
    <% end %>
  </li>
  <li>
    <%= link_to new_customer_session_path do %>
      <button type="button" class="btn btn-light">ログイン</button>
    <% end %>
  </li>
</ul>